


<main class="main">

  <div class="content">

    <div class="control-section">
      <div class="col-lg-9 e-bigger e-adaptive-demo">
        <div class="e-default">  

       
          <ejs-grid [dataSource]="list"
                    allowPaging="true"
                    [pageSettings]='pageSettings'
                    locale='en-US' >
            <e-columns>
              <e-column field='productId' headerText='Product ID' width='130' ></e-column>
              <e-column field='productName' headerText='Product Name' width='130'></e-column>
              <e-column field='price' headerText='Price' width='130'></e-column>
              <e-column field='production' headerText='Production' width='130'></e-column>
              <e-column field='manufacturer' headerText='Manufact' width='130'></e-column>
              <e-column field='discount' headerText='Dis' width='130'></e-column>
            </e-columns> 
          </ejs-grid>
        
        </div>
    </div>
      
  </div>
      
    </div>
  
</main>



<router-outlet />

<style>
  
</style>
